body
{
    margin: 0;
    padding: 0;
}

header
{
    font-weight: 500;
    background: #F24333;
    text-align: center;
    padding: 1px;
    color: white;
}

header img
{
    width: 200px;
    height: 100px;
}

main
{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 25px;
}

nav a
{
    border-radius: 5px;
    padding: 10px;
    background: red;
    color: white;
    margin-left: 5px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
}

nav a:hover
{
    margin-left: 10px;
    margin-right: 10px;
}

footer
{
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
}
footer a
{
    color: gray;
    text-decoration: none;
}

footer a:hover
{
    text-decoration: underline;
}

footer a img
{
    background-color: none;
    -webkit-transition: all 0.5s ease;
}

footer a img:hover
{
    rotate: -20deg;
}

.text
{
    background-color: lightgrey;
    margin-top: 20px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}